* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    height: 500px;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-start;

}
.card {
    width: 90px;
    cursor: pointer;
    border-radius: 0.85rem;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28 ,-0.03 ,0 ,.99);
    box-shadow: 0px 10px 30px -5px rgba(0 ,0 ,0 ,.8);
}
.card > .row {
    display: flex;
    color: white;
    flex-wrap: nowrap;
}

.card > .row > .icon {
    background-color: #223;
    color: white;
    display: flex;
    border-radius: 50%;
    width: 50px;
    margin: 15px;
    justify-content: center;
    align-items: center;
}
.card >.row > .desc { 
     display: flex;
    justify-content: center; 
    opacity: 0;
    overflow: hidden;
    flex-direction: column;
    width: 520px;
    height: 80px;
    transform: translateY(30px);
    transition-delay: 0.3s;
    transition: all 0.3s ease; 
 } 
 .desc p {
    color: #b0b0ba47;
    padding-top: 5px;
 }
 .desc h4 {
    text-transform: uppercase;
 }
 input {
    display: none;
 }
 input:checked + label {
    width: 600px;
 }
 input:checked + label .desc  {
    opacity: 1 !important;
    transform: translateY() !important;
 }
 .card[for = "c2"]{
    background-image: url(anime.jpg);
    background-size: cover;
 }
 .card[for = "c3"]{
   background-image: url("gojo.jpeg");
   background-size: cover;
}
.card[for = "c4"]{
   background-image: url(uchhia.jpg);
   background-size: cover;
}
.card[for = "c5"]{
   background-image: url(sinchan.jpg);
   background-size: cover;
}
.card:hover {
   box-shadow: 0px 0px 15px rgba(119, 100, 189, 0.723),
   0px 0px 30px rgba(112, 100, 189, 0.723),
   0px 0px 50px rgba(139, 100, 189, 0.723),
   0px 0px 80px rgba(125, 100, 189, 0.723);
}
.card[for = "c1"] {
   background-color: #223;
}
.card[for = "c1"] h1 {
   color: white;
   z-index: 2;
   padding-bottom: 50px;
}
h4 {
   padding-bottom: 60px;
   font-size: 1.45rem;
}
body {
   background-color: rgb(34, 35, 51);
}